<script src="js/docs.min.js"></script> 



<div class="container"> 
  <div class="row">
      <!--Body content-->
      <div class="col-md-9 col-md-10 main">
          <h1 class="page-header text-center">Grow Lab</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="img/building-the-trailer-insulation.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Insulation</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="img/Trailer-side-view.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Portability</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="img/Ac-vac0unit.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Temperature Controlled</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="img/Exaust-fan.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>High speed exhaust fan</h4>
              <span class="text-muted">Something else</span>
            </div>
<!-- Space between two space holders -->
   <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="img/Air-intake-tube-view.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Insulation</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="img/Smell-filtration.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Portability</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="img/shot-of-tray-draining-system.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Temperature Controlled</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="img/more-trays-for-holding-plants.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>High speed exhaust fan</h4>
              <span class="text-muted">Something else</span>
            </div>
<!-- Space between two space holders -->

 <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="img/HPS-lights-front-lit.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Insulation</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="img/HPS-lights-hung.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Portability</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="img/temperture-sensor.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Temperature Controlled</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="img/HPS-light-shot-good.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>High speed exhaust fan</h4>
              <span class="text-muted">Something else</span>
            </div>
<!-- Space between two space holders -->
<div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="img/Controle-panal.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Insulation</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="img/Power-braker-panel.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Portability</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="img/power-units-under-chasis.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Temperature Controlled</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="img/day-shot-of-trays.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>High speed exhaust fan</h4>
              <span class="text-muted">Something else</span>
            </div>


    </div>
  </div>
</div>
